<div fxLayout="row">

        <button mat-icon-button aria-label="back button" (click)="backButtonClick()">
                <mat-icon>arrow_back</mat-icon>
        </button>
        
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start">

        <div fxFlex="50" [fxFlex.md]="100" [fxFlex.sm]="100" [fxFlex.xs]="100" *ngFor="let companion of companions" >
        
                <app-companion [companion]="companion"></app-companion>
                                
        </div>
        
</div>

        




<!--
<div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="isLoaded; else elseBlock">

        

        <div fxFlex="50" [fxFlex.md]="100" [fxFlex.sm]="100" [fxFlex.xs]="100" *ngFor="let companion of companions" >

                <app-companion [companion]="companion"></app-companion>
                        
        </div>

</div>

<ng-template #elseBlock>

        

</ng-template>
-->
