<mat-card class="mat-elevation-z8 maxionderon-card-background">

    <mat-card-title>
        <a [routerLink]="['/companions', companion.name]">{{companion.name}}</a>
    </mat-card-title>

    <mat-card-subtitle>
        <span>{{companion.class}}</span>


    </mat-card-subtitle>

    <mat-card-content>

        <mat-card style="margin: 0%; padding: 0%">
            <mat-card-content>

                <mat-tab-group mat-stretch-tabs>
                    <mat-tab>

                        <ng-template mat-tab-label>
                            <mat-icon>portrait</mat-icon>
                            <span>Description of {{companion.name}}</span>
                        </ng-template>

                        <mat-card>
                            <mat-card-content>
                                <div>
                                    <span style="white-space: pre-wrap;">{{companion.description}}</span>
                                </div>
                            </mat-card-content>
                        </mat-card>

                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label>
                            <mat-icon>card_giftcard</mat-icon>
                            <span>Gift reaction of {{companion.name}}</span>
                        </ng-template>

                        <mat-card>

                            <mat-card-content>
                                <div fxLayout="column">

                                    <div class="checkboxField" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

                                        <mat-checkbox fxFlex="25" [fxFlex.md]="25" [fxFlex.sm]="50" [fxFlex.xs]="100"
                                            [(ngModel)]="love" (change)="loveChange()">Love</mat-checkbox>

                                        <mat-checkbox fxFlex="25" [fxFlex.md]="25" [fxFlex.sm]="50" [fxFlex.xs]="100"
                                            [(ngModel)]="favorite" (change)="favoriteChange()">Favorite</mat-checkbox>

                                        <mat-checkbox fxFlex="25" [fxFlex.md]="25" [fxFlex.sm]="50" [fxFlex.xs]="100"
                                            [(ngModel)]="like" (change)="likeChange()">Like</mat-checkbox>

                                        <mat-checkbox fxFlex="25" [fxFlex.md]="25" [fxFlex.sm]="50" [fxFlex.xs]="100"
                                            [(ngModel)]="indifferent" (change)="indifferentChange()">Indifferent
                                        </mat-checkbox>

                                    </div>

                                    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8"
                                        (matSortChange)="sortData($event)">

                                        <ng-container matColumnDef="type">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift Type</th>
                                            <td mat-cell *matCellDef="let gift">
                                                <a [routerLink]="['/gifts', gift.type]">{{gift.type}} </a>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="reaction">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift reaction</th>
                                            <td mat-cell *matCellDef="let gift" >

                                                <mat-icon *ngIf="gift.reaction === 'Indifferent'" class="indifferent">
                                                    indeterminate_check_box</mat-icon>
                                                <mat-icon *ngIf="gift.reaction === 'Like'" class="like">thumb_up
                                                </mat-icon>
                                                <mat-icon *ngIf="gift.reaction === 'Favorite'" class="favorite">
                                                    sentiment_very_satisfied</mat-icon>
                                                <mat-icon *ngIf="gift.reaction === 'Love'" class="love">favorite
                                                </mat-icon>
                                                <span style="vertical-align: super">{{gift.reaction}}</span>

                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    </table>

                                </div>

                            </mat-card-content>

                        </mat-card>

                    </mat-tab>

                </mat-tab-group>

            </mat-card-content>
        </mat-card>

    </mat-card-content>

</mat-card>